body{
    background-repeat: repeat;
    background-image: url("download.jpg");
    background-attachment: fixed;

}
#Id001{
    width:80%;
    border-style: solid ;
    border-width: 20px 25px 10px 5px;
    border-color: black;
    /*border-top-color: chocolate;*/
    /*margin : auto;*/
    text-decoration: overline;
    text-transform: uppercase;
    text-align: justify;
    text-indent: 50px;
    letter-spacing: 2px;
    line-height: 20px;
    
}

#Id001{
    padding: 2%;
}